<!DOCTYPE html>
<html>
  <head>
    <title>run</title>
  </head>
  <body>
<pre>
rdc landing

<a href='/logout'>logout</a>

access_token: <%= access_token %>
id:           <%= id %>
first name:   <%= firstname %>
last name:    <%= lastname %>
email:        <%= email %>
</pre>
  </body>
</html>

